/*Css extraido y adaptada de https://observablehq.com/@bstaats/matrix-diagram#chart*/
:root{
    --syntax_normal:#1b1e23;
    --syntax_comment:#a9b0bc;
    --syntax_number:#20a5ba;
    --syntax_keyword:#c30771;
    --syntax_atom:#10a778;
    --syntax_string:#008ec4;
    --syntax_error:#ffbedc;
    --syntax_unknown_variable:#838383;
    --syntax_known_variable:#005f87;
    --syntax_matchbracket:#20bbfc;
    --syntax_key:#6636b4;
    --mono_fonts:82%/1.5 Menlo,Consolas,monospace
}

svg.matrixdiagram {
    font: 10px sans-serif;
  }
  svg.matrixdiagram .label {
    fill: #999;
    font-size: 8px;
    text-anchor: end;
  }
  svg.matrixdiagram .column .label {
    text-anchor: start;
  }
  svg.matrixdiagram rect {
    fill: #eee;
    stroke: #d62333;
    stroke-width: 0;
  }
  svg.matrixdiagram rect:hover {
    stroke-width: 1px;
  }


.observablehq--collapsed,.observablehq--expanded,.observablehq--function,.observablehq--gray,.observablehq--import,.observablehq--string:after,.observablehq--string:before{
    color:var(--syntax_normal)
}
.observablehq--collapsed,.observablehq--inspect a{
    cursor:pointer
}
.observablehq--field{
    text-indent:-1em;
    margin-left:1em
}
.observablehq--empty{
    color:var(--syntax_comment)
}
.observablehq--blue,.observablehq--keyword{
    color:#3182bd
}
.observablehq--forbidden,.observablehq--pink{
    color:#e377c2
}
.observablehq--orange{
    color:#e6550d
}
.observablehq--boolean,.observablehq--null,.observablehq--undefined{
    color:var(--syntax_atom)
}
.observablehq--bigint,.observablehq--date,.observablehq--green,.observablehq--number,.observablehq--regexp,.observablehq--symbol{
    color:var(--syntax_number)
}
.observablehq--index,.observablehq--key{
    color:var(--syntax_key)
}
.observablehq--prototype-key{
    color:#aaa
}
.observablehq--empty{
    font-style:oblique
}
.observablehq--purple,.observablehq--string{
    color:var(--syntax_string)
}
.observablehq--error,.observablehq--red{
    color:#e7040f
}
.observablehq--inspect{
    font:var(--mono_fonts);
    overflow-x:auto;
    display:block;
    white-space:pre
}
.observablehq--error .observablehq--inspect{
    word-break:break-all;
    white-space:pre-wrap
}

.default{fill: #eee !important;}
.visitado{ fill: #7f7f7f !important;}
.camino{ fill: #17becf !important;}
.actual{ fill: #ff7f0e !important;}
.resultado{ fill: #2ca02c !important;}
.inicio{ fill: #1f77b4 !important;}
.fin{ fill: #d62728 !important;}

.none{ fill: none !important;}

.node-5{ fill: #9467bd !important;}
.node-6{ fill: #8c564b !important;}
.node-7{ fill: #e377c2 !important;}
.node-9{ fill: #bcbd22 !important;}


.selected-row-col{
    color : #d62333;
    font-weight: bold;
} 

/* Botton de https://getcssscan.com/css-buttons-examples */

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1;/*1.25;*/
    margin: 0;
    min-height: 2rem;/*3rem*/
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }



/* The switch - the box around the slider https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }